In [1]:
#Lets import all the required libraries 
import selenium # Libraries that is used to work  with selenium
from selenium import webdriver # importing web driver module from selenium to open automated edge window
import pandas as pd # to create dataframe
from selenium.webdriver.common.by import By#importing inbuild class BY
import warnings #to ignore any sort warnings
warnings.filterwarnings('ignore')
import time# used to stop search engine for few seconds

In [2]:
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [3]:
#First Connect to web driver 

driver = webdriver.Edge(r"C:\Users\saura\OneDrive\Desktop\edgedriver_win64\msedgedriver.exe")
driver

In [4]:
url="https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001"

In [5]:
driver.get(url)

In [6]:
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [7]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')

In [10]:
len(Brand)

1164

In [11]:
# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

In [12]:
len(Year_Model)

1164

In [13]:
Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

In [14]:
len(Car_Name)

1164

In [15]:
Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')

In [16]:
len(Model)

1164

In [17]:
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')

In [18]:
len(Variant)

1164

In [19]:
# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')

In [20]:
len(driven_kilometer)

1164

In [21]:
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')

In [22]:
len(fuel)

1164

In [23]:
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')

In [24]:
len(number_of_owners)

1164

In [25]:
# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [27]:
len(Price)

1164

In [28]:
import pandas as  pd

In [29]:
car_data1=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [30]:
car_data1['Location']='Delhi'

In [31]:
car_data1

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,HYUNDAI,2010,[I10],ERA 1.1,Manual,"46,523 KM",PETROL,1ST OWNER,"1,68,000",Delhi
1,KIA,2020,[SELTOS],GTX+ 1.4 MT,Manual,"6,003 KM",PETROL,1ST OWNER,"16,89,000",Delhi
2,KIA,2020,[SELTOS],GTX + AT PETROL,Automatic,"9,417 KM",PETROL,1ST OWNER,"16,73,000",Delhi
3,Hyundai,2014,"[SANTRO, XING]",GL PLUS,Manual,"43,944 KM",PETROL,1ST OWNER,"2,86,000",Delhi
4,Skoda,2021,[KUSHAQ],STYLE 1.5 TSI MT,Manual,"7,182 KM",PETROL,1ST OWNER,"17,01,000",Delhi
...,...,...,...,...,...,...,...,...,...,...
1159,MARUTI,2018,"[SUZUKI, CELERIO]",VXI CNG,Manual,"76,123 KM",CNG,1ST OWNER,"4,60,000",Delhi
1160,Maruti,2020,"[Suzuki, Swift]",LXI,Manual,"26,424 KM",PETROL,1ST OWNER,"5,88,000",Delhi
1161,Hyundai,2020,"[GRAND, I10, NIOS]",SPORTZ 1.2 KAPPA VTVT,Manual,"9,783 KM",PETROL,1ST OWNER,"6,69,000",Delhi
1162,HONDA,2019,[AMAZE],1.2L I-VTEC E,Manual,"20,700 KM",PETROL,1ST OWNER,"6,50,000",Delhi
1163,Renault,2019,[Kwid],RXL,Manual,"25,519 KM",PETROL,2ND OWNER,"3,71,000",Delhi

In [32]:
car_data1.to_csv('car_data1')

In [37]:
data=pd.read_csv("car_data1")

In [38]:
data.head()

,Unnamed: 0,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,0,HYUNDAI,2010,['I10'],ERA 1.1,Manual,"46,523 KM",PETROL,1ST OWNER,"1,68,000",Delhi
1,1,KIA,2020,['SELTOS'],GTX+ 1.4 MT,Manual,"6,003 KM",PETROL,1ST OWNER,"16,89,000",Delhi
2,2,KIA,2020,['SELTOS'],GTX + AT PETROL,Automatic,"9,417 KM",PETROL,1ST OWNER,"16,73,000",Delhi
3,3,Hyundai,2014,"['SANTRO', 'XING']",GL PLUS,Manual,"43,944 KM",PETROL,1ST OWNER,"2,86,000",Delhi
4,4,Skoda,2021,['KUSHAQ'],STYLE 1.5 TSI MT,Manual,"7,182 KM",PETROL,1ST OWNER,"17,01,000",Delhi

In [39]:
data.shape

(1164, 11)

# Next Data

In [125]:
#First Connect to web driver 

driver = webdriver.Edge(r"C:\Users\saura\OneDrive\Desktop\edgedriver_win64\msedgedriver.exe")
driver

In [126]:
url="https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001"

In [127]:
driver.get(url)

In [7]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [8]:
car_data2=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [9]:
car_data2['Location']='Mumbai'

In [10]:
car_data2

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,HONDA,2017,[CITY],VX CVT PETROL,Automatic,"69,850 KM",PETROL,1ST OWNER,"7,93,000",Mumbai
1,Maruti,2013,"[Suzuki, Wagon, R, 1.0]",LXI,Manual,"53,256 KM",PETROL,1ST OWNER,"2,90,000",Mumbai
2,Renault,2016,[Kwid],RXT,Manual,"75,741 KM",PETROL,2ND OWNER,"2,93,400",Mumbai
3,Maruti,2012,"[Suzuki, Alto, K10]",VXI,Manual,"23,271 KM",PETROL,2ND OWNER,"1,95,000",Mumbai
4,Honda,2013,[City],1.5 E MT PETROL,Manual,"39,192 KM",PETROL,1ST OWNER,"3,75,000",Mumbai
...,...,...,...,...,...,...,...,...,...,...
415,Skoda,2016,[Rapid],1.6 MPI STYLE AT,Automatic,"41,248 KM",PETROL,1ST OWNER,"6,60,000",Mumbai
416,Tata,2019,[Harrier],XZ 2.0L Kryotec,Manual,"20,132 KM",DIESEL,1ST OWNER,"16,45,000",Mumbai
417,Maruti,2019,"[Suzuki, New, Wagon-R]",LXI CNG 1.0 L,Manual,"82,106 KM",CNG,1ST OWNER,"5,71,000",Mumbai
418,Hyundai,2020,[AURA],S CNG,Manual,"73,180 KM",CNG,1ST OWNER,"7,47,000",Mumbai
419,Volkswagen,2017,[AMEO],HIGHLINE 1.2,Manual,"22,852 KM",PETROL,1ST OWNER,"5,32,100",Mumbai

In [11]:
car_data2.to_csv('car_data2')

In [12]:
car_data2

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,HONDA,2017,[CITY],VX CVT PETROL,Automatic,"69,850 KM",PETROL,1ST OWNER,"7,93,000",Mumbai
1,Maruti,2013,"[Suzuki, Wagon, R, 1.0]",LXI,Manual,"53,256 KM",PETROL,1ST OWNER,"2,90,000",Mumbai
2,Renault,2016,[Kwid],RXT,Manual,"75,741 KM",PETROL,2ND OWNER,"2,93,400",Mumbai
3,Maruti,2012,"[Suzuki, Alto, K10]",VXI,Manual,"23,271 KM",PETROL,2ND OWNER,"1,95,000",Mumbai
4,Honda,2013,[City],1.5 E MT PETROL,Manual,"39,192 KM",PETROL,1ST OWNER,"3,75,000",Mumbai
...,...,...,...,...,...,...,...,...,...,...
415,Skoda,2016,[Rapid],1.6 MPI STYLE AT,Automatic,"41,248 KM",PETROL,1ST OWNER,"6,60,000",Mumbai
416,Tata,2019,[Harrier],XZ 2.0L Kryotec,Manual,"20,132 KM",DIESEL,1ST OWNER,"16,45,000",Mumbai
417,Maruti,2019,"[Suzuki, New, Wagon-R]",LXI CNG 1.0 L,Manual,"82,106 KM",CNG,1ST OWNER,"5,71,000",Mumbai
418,Hyundai,2020,[AURA],S CNG,Manual,"73,180 KM",CNG,1ST OWNER,"7,47,000",Mumbai
419,Volkswagen,2017,[AMEO],HIGHLINE 1.2,Manual,"22,852 KM",PETROL,1ST OWNER,"5,32,100",Mumbai

In [138]:
driver.close()

# Next Data

In [139]:
#First Connect to web driver 

driver = webdriver.Edge(r"C:\Users\saura\OneDrive\Desktop\edgedriver_win64\msedgedriver.exe")
driver

In [140]:
url="https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001"

In [141]:
driver.get(url)

In [13]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [14]:
car_data3=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [15]:
car_data3['Location']='Bengalore'

In [16]:
car_data3.to_csv('car_data3')

In [17]:
car_data3

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,TATA,2016,[TIAGO],XZ 1.2 REVOTRON,Manual,"59,480 KM",PETROL,1ST OWNER,"4,61,000",Bengalore
1,Nissan,2022,[MAGNITE],XL MT,Manual,"3,488 KM",PETROL,1ST OWNER,"7,43,000",Bengalore
2,Honda,2014,[Amaze],1.2 SX MT I VTEC,Manual,"93,886 KM",PETROL,2ND OWNER,"3,74,000",Bengalore
3,HYUNDAI,2013,[I20],ASTA (O) 1.2,Manual,"45,376 KM",PETROL,2ND OWNER,"4,82,000",Bengalore
4,Maruti,2017,"[Suzuki, Swift]",VXI,Manual,"27,069 KM",PETROL,1ST OWNER,"6,15,000",Bengalore
...,...,...,...,...,...,...,...,...,...,...
495,Tata,2019,[NEXON],XZA+ 1.5,Automatic,"50,142 KM",DIESEL,1ST OWNER,"10,56,000",Bengalore
496,Maruti,2017,"[Suzuki, Dzire]",ZXI Plus AMT,Automatic,"41,489 KM",PETROL,1ST OWNER,"7,45,000",Bengalore
497,HYUNDAI,2017,[CRETA],SX PLUS 1.6 PETROL,Manual,"54,362 KM",PETROL,2ND OWNER,"10,96,000",Bengalore
498,Honda,2018,[City],VX CVT PETROL,Automatic,"66,399 KM",PETROL,1ST OWNER,"10,59,000",Bengalore
499,FORD,2015,[ECOSPORT],1.5 TITANIUM TI VCT AT,Automatic,"50,110 KM",PETROL,2ND OWNER,"6,86,000",Bengalore

In [146]:
driver.close()

# Next Data

In [147]:
#First Connect to web driver 

driver = webdriver.Edge(r"C:\Users\saura\OneDrive\Desktop\edgedriver_win64\msedgedriver.exe")
driver

In [148]:
#First Connect to web driver 

driver = webdriver.Edge(r"C:\Users\saura\OneDrive\Desktop\edgedriver_win64\msedgedriver.exe")
driver

In [149]:
url="https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001"

In [150]:
driver.get(url)

In [18]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

KeyboardInterrupt:

In [153]:
car_data4=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [154]:
car_data4['Location']='Bangalore'

In [155]:
car_data4.to_csv('car_data4')

In [157]:
car_data4

,Brand,Model,Variant,Manufacturing Year,Driven Kilometer,Fuel,Number of Owners,Price,Location
0,Hyundai,VENUE,1.0 TURBO GDI SX+ AT Automatic,2019,"43,503 km",Petrol,1st Owner,"11,27,000",Bangalore
1,Hyundai,i20,ASTA 1.2 Manual,2011,"89,471 km",Petrol,2nd Owner,"3,65,000",Bangalore
2,Maruti,Ertiga,VXI Manual,2016,"99,205 km",Petrol,1st Owner,"6,93,000",Bangalore
3,Hyundai,i20,SPORTZ 1.2 O Manual,2011,"50,161 km",Petrol,1st Owner,"3,82,000",Bangalore
4,Hyundai,Creta,SX PLUS AT 1.6 PETROL,2017,"42,790 km",Petrol,2nd Owner,"10,87,000",Bangalore
...,...,...,...,...,...,...,...,...,...
1217,Hyundai,GRAND,MAGNA 1.2 KAPPA VTVT,2020,"15,620 km",Petrol,1st Owner,"7,15,000",Bangalore
1218,Honda,Brio,S MT,2014,"17,054 km",Petrol,1st Owner,"3,82,000",Bangalore
1219,Maruti,Swift,VXI Manual,2021,"10,975 km",Petrol,1st Owner,"7,40,000",Bangalore
1220,Datsun,Go,T Manual,2016,"76,598 km",Petrol,1st Owner,"2,59,000",Bangalore
1221,Hyundai,Verna,FLUIDIC 1.6 CRDI SX,2011,"81,911 km",Diesel,2nd Owner,"4,37,000",Bangalore

# NEXT DATA

In [19]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [20]:
car_data5=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [21]:
car_data5['Location']='Hyderabad'

In [22]:
car_data5.to_csv('car_data5')

In [23]:
car_data5

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Maruti,2012,"[Suzuki, Swift, Dzire]",ZXI 1.2 BS IV,Manual,"31,710 KM",PETROL,1ST OWNER,"4,83,000",Hyderabad
1,Hyundai,2018,[Verna],1.4 VTVT E,Manual,"66,809 KM",PETROL,1ST OWNER,"7,28,000",Hyderabad
2,Hyundai,2014,"[Elite, i20]",SPORTZ 1.2,Manual,"85,464 KM",PETROL,2ND OWNER,"4,72,000",Hyderabad
3,Hyundai,2020,[Creta],S 1.5 PETROL,Manual,"9,735 KM",PETROL,1ST OWNER,"12,69,000",Hyderabad
4,Honda,2016,[Amaze],1.2 SMT I VTEC,Manual,"41,233 KM",PETROL,1ST OWNER,"4,96,000",Hyderabad
...,...,...,...,...,...,...,...,...,...,...
535,MARUTI,2017,"[SUZUKI, ALTO, K10]",VXI (O) AMT,Automatic,"41,782 KM",PETROL,1ST OWNER,"3,91,000",Hyderabad
536,Maruti,2019,"[Suzuki, S, PRESSO]",VXI PLUS,Manual,"33,484 KM",PETROL,1ST OWNER,"4,59,000",Hyderabad
537,HONDA,2015,[CITY],1.5L I-VTEC V MT,Manual,"64,602 KM",PETROL,1ST OWNER,"6,69,000",Hyderabad
538,MARUTI,2019,"[SUZUKI, SWIFT]",VXI,Manual,"45,538 KM",PETROL,1ST OWNER,"5,98,000",Hyderabad
539,Volkswagen,2020,[Polo],HIGHLINE PLUS 1.0 TSI MT,Manual,"40,019 KM",PETROL,1ST OWNER,"9,10,000",Hyderabad

# NEXT DATA

In [25]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [26]:
car_data6=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [27]:
car_data6['Location']='Ahmedabad'

In [28]:
car_data6.to_csv('car_data6')

In [29]:
car_data6

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Hyundai,2019,[Xcent],S 1.2,Manual,"35,025 KM",PETROL,1ST OWNER,"5,80,000",Ahmedabad
1,Maruti,2017,"[Suzuki, Alto, 800]",LXI,Manual,"22,560 KM",PETROL,1ST OWNER,"2,77,000",Ahmedabad
2,Tata,2021,[NEXON],XZ PETROL,Manual,"28,765 KM",PETROL,1ST OWNER,"9,54,000",Ahmedabad
3,Honda,2018,[Jazz],1.2 V MT,Manual,"39,284 KM",PETROL,1ST OWNER,"6,59,000",Ahmedabad
4,Maruti,2020,"[Suzuki, S, Cross]",ALPHA 1.5,Manual,"6,133 KM",PETROL,1ST OWNER,"10,83,000",Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
399,Maruti,2016,"[Suzuki, Swift]",VXI,Manual,"44,189 KM",PETROL,1ST OWNER,"4,71,000",Ahmedabad
400,Hyundai,2014,[Xcent],SX AT 1.2 (O),Automatic,"40,254 KM",PETROL,2ND OWNER,"4,05,000",Ahmedabad
401,HONDA,2018,[AMAZE],1.2L I-VTEC S,Manual,"45,410 KM",PETROL,1ST OWNER,"6,48,000",Ahmedabad
402,Maruti,2021,"[Suzuki, Baleno]",DELTA PETROL 1.2,Manual,"13,808 KM",PETROL,1ST OWNER,"7,14,000",Ahmedabad
403,MARUTI,2019,"[SUZUKI, ALTO, 800]",LXI,Manual,"57,829 KM",PETROL,1ST OWNER,"3,36,000",Ahmedabad

# NEXT DATA

In [30]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [31]:
car_data7=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [32]:
car_data7['Location']='Gurgaon'

In [33]:
car_data7.to_csv('car_data7')

In [34]:
car_data7

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Honda,2011,[City],S MT PETROL,Manual,"52,408 KM",PETROL,1ST OWNER,"3,16,000",Gurgaon
1,Jeep,2019,[Compass],1.4 LONGITUDE (O) AT,Automatic,"23,690 KM",PETROL,1ST OWNER,"18,79,000",Gurgaon
2,Jeep,2019,[Compass],2.0 LIMITED,Manual,"47,136 KM",DIESEL,1ST OWNER,"16,67,000",Gurgaon
3,Honda,2012,[Brio],1.2 V MT I VTEC,Manual,"52,532 KM",PETROL,1ST OWNER,"2,47,000",Gurgaon
4,Skoda,2020,[Rapid],ACTIVE 1.0 TSI,Manual,"18,953 KM",PETROL,1ST OWNER,"8,85,000",Gurgaon
...,...,...,...,...,...,...,...,...,...,...
775,Maruti,2020,"[Suzuki, S, PRESSO]",LXI (O) CNG,Manual,"27,439 KM",CNG,1ST OWNER,"4,82,000",Gurgaon
776,HYUNDAI,2019,[CRETA],1.4 EX CRDI,Manual,"82,979 KM",DIESEL,2ND OWNER,"9,23,000",Gurgaon
777,Hyundai,2016,"[Elite, i20]",ASTA 1.2,Manual,"67,712 KM",PETROL,2ND OWNER,"5,57,000",Gurgaon
778,Maruti,2018,"[Suzuki, Alto, 800]",LXI,Manual,"18,750 KM",PETROL,1ST OWNER,"3,32,000",Gurgaon
779,Maruti,2019,"[Suzuki, New, Wagon-R]",1.0 LXI (O),Manual,"77,038 KM",PETROL,2ND OWNER,"4,84,000",Gurgaon

# NEXT DATA

In [35]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [36]:
car_data8=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [37]:
car_data8['Location']='Chennai'

In [38]:
car_data8.to_csv('car_data8')

In [39]:
car_data8

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Hyundai,2016,[Verna],FLUIDIC 4S 1.6 VTVT S,Manual,"54,215 KM",PETROL,1ST OWNER,"6,51,200",Chennai
1,Honda,2014,[Amaze],1.2 SMT I VTEC,Manual,"63,154 KM",PETROL,1ST OWNER,"4,38,000",Chennai
2,Ford,2019,[Ecosport],1.5 TITANIUM PLUS TI VCT AT,Automatic,"70,719 KM",PETROL,1ST OWNER,"9,47,000",Chennai
3,Tata,2020,[Tiago],XZA+ DUAL TONE 1.2RTN,Automatic,"28,971 KM",PETROL,2ND OWNER,"6,95,000",Chennai
4,Maruti,2017,"[Suzuki, Baleno]",ZETA PETROL 1.2,Manual,"54,004 KM",PETROL,1ST OWNER,"5,66,000",Chennai
...,...,...,...,...,...,...,...,...,...,...
454,Hyundai,2021,"[GRAND, I10, NIOS]",SPORTZ 1.2 KAPPA VTVT,Manual,"20,711 KM",PETROL,1ST OWNER,"7,26,000",Chennai
455,Hyundai,2018,[Verna],1.6 EX CRDI,Manual,"40,810 KM",DIESEL,1ST OWNER,"9,54,000",Chennai
456,Volkswagen,2018,[Polo],COMFORTLINE 1.0 PETROL,Manual,"62,260 KM",PETROL,2ND OWNER,"6,37,000",Chennai
457,Maruti,2013,"[Suzuki, Swift]",VXI,Manual,"49,510 KM",PETROL,1ST OWNER,"4,40,000",Chennai
458,Renault,2021,[Kwid],RXT,Manual,"22,507 KM",PETROL,1ST OWNER,"4,83,000",Chennai

# NEXT DATA

In [40]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [41]:
car_data9=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [42]:
car_data9['Location']='Pune'

In [43]:
car_data9.to_csv('car_data9')

In [44]:
car_data9

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Nissan,2021,[MAGNITE],XE 1.0 MT,Manual,"18,849 KM",PETROL,1ST OWNER,"6,40,000",Pune
1,Hyundai,2011,[i20],ASTA 1.2,Manual,"70,502 KM",PETROL,1ST OWNER,"3,10,000",Pune
2,Mahindra,2016,[Thar],CRDE 4X4 BS IV,Manual,"47,482 KM",DIESEL,1ST OWNER,"6,85,000",Pune
3,Maruti,2010,"[Suzuki, ZEN, ESTILO]",LXI,Manual,"37,891 KM",PETROL,2ND OWNER,"1,77,000",Pune
4,Honda,2012,[City],V AT SUNROOF,Automatic,"94,687 KM",PETROL,2ND OWNER,"4,54,000",Pune
...,...,...,...,...,...,...,...,...,...,...
619,MARUTI,2016,"[SUZUKI, WAGON, R, 1.0]",VXI AMT,Automatic,"56,780 KM",PETROL,1ST OWNER,"4,20,000",Pune
620,Honda,2014,[Amaze],1.2 SMT I VTEC,Manual,"58,353 KM",PETROL,2ND OWNER,"4,50,000",Pune
621,Tata,2017,[Tiago],XZ 1.2 REVOTRON,Manual,"53,874 KM",PETROL,1ST OWNER,"5,15,000",Pune
622,Honda,2018,[WR-V],1.5 i-DTEC VX MT,Manual,"53,576 KM",DIESEL,2ND OWNER,"8,91,000",Pune
623,Maruti,2017,"[Suzuki, Swift]",VXI,Manual,"14,700 KM",PETROL,1ST OWNER,"5,75,000",Pune

# NEXT DATA

In [45]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [46]:
car_data10=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [47]:
car_data10['Location']='Noida'

In [48]:
car_data10.to_csv('car_data10')

In [49]:
car_data10

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Honda,2015,[Amaze],1.2 SMT I VTEC,Manual,"28,570 KM",PETROL,1ST OWNER,"4,38,000",Noida
1,HYUNDAI,2020,"[GRAND, I10]",MAGNA 1.2 VTVT,Manual,"13,851 KM",PETROL,2ND OWNER,"5,29,000",Noida
2,Maruti,2011,"[Suzuki, WAGON, R, 1.0]",VXI,Manual,"33,528 KM",PETROL,1ST OWNER,"2,74,000",Noida
3,HYUNDAI,2012,[I10],MAGNA 1.2 KAPPA2,Manual,"48,677 KM",PETROL,1ST OWNER,"2,55,000",Noida
4,Hyundai,2011,[i10],MAGNA 1.2 KAPPA2,Manual,"32,648 KM",PETROL,1ST OWNER,"2,49,000",Noida
...,...,...,...,...,...,...,...,...,...,...
1178,Maruti,2018,"[Suzuki, Wagon, R, 1.0]",LXI CNG,Manual,"58,200 KM",CNG,1ST OWNER,"4,28,000",Noida
1179,Mahindra,2022,[Thar],LX HT PETROL 4WD MT,Manual,"1,102 KM",PETROL,1ST OWNER,"15,52,000",Noida
1180,Renault,2019,[Kwid],RXL,Manual,"25,519 KM",PETROL,2ND OWNER,"3,71,000",Noida
1181,HYUNDAI,2012,[I20],SPORTZ 1.2,Manual,"70,108 KM",PETROL,1ST OWNER,"3,40,000",Noida
1182,MARUTI,2019,"[SUZUKI, VITARA, BREZZA]",VDI,Manual,"68,219 KM",DIESEL,2ND OWNER,"7,14,000",Noida

# Next Data

In [50]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [51]:
car_data11=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [52]:
car_data11['Location']='Ghaziabad'

In [53]:
car_data11.to_csv('car_data11')

In [54]:
car_data11

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,HONDA,2012,[CITY],S MT PETROL,Manual,"45,073 KM",PETROL,1ST OWNER,"4,66,000",Ghaziabad
1,Honda,2016,[City],VX MT PETROL,Manual,"42,033 KM",PETROL,2ND OWNER,"7,10,000",Ghaziabad
2,Honda,2015,[City],1.5 E MT PETROL,Manual,"46,863 KM",PETROL,2ND OWNER,"5,71,000",Ghaziabad
3,Honda,2014,[City],V MT PETROL,Manual,"49,425 KM",PETROL,1ST OWNER,"6,17,000",Ghaziabad
4,HONDA,2015,[CITY],SV MT PETROL,Manual,"47,670 KM",PETROL,2ND OWNER,"6,45,000",Ghaziabad
...,...,...,...,...,...,...,...,...,...,...
1219,Maruti,2018,"[Suzuki, Wagon, R, 1.0]",LXI CNG,Manual,"58,200 KM",CNG,1ST OWNER,"4,28,000",Ghaziabad
1220,Mahindra,2022,[Thar],LX HT PETROL 4WD MT,Manual,"1,102 KM",PETROL,1ST OWNER,"15,52,000",Ghaziabad
1221,Renault,2019,[Kwid],RXL,Manual,"25,519 KM",PETROL,2ND OWNER,"3,71,000",Ghaziabad
1222,HYUNDAI,2012,[I20],SPORTZ 1.2,Manual,"70,108 KM",PETROL,1ST OWNER,"3,40,000",Ghaziabad
1223,MARUTI,2019,"[SUZUKI, VITARA, BREZZA]",VDI,Manual,"68,219 KM",DIESEL,2ND OWNER,"7,14,000",Ghaziabad

# NEXT DATA

In [55]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [56]:
car_data12=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [57]:
car_data12['Location']='Lucknow'

In [58]:
car_data12.to_csv('car_data12')

In [59]:
car_data12

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Mahindra,2015,[Thar],CRDE 4X4 BS IV,Manual,"35,530 KM",DIESEL,2ND OWNER,"6,04,000",Lucknow
1,TOYOTA,2017,[FORTUNER],2.8 4x4 AT,Automatic,"52,692 KM",DIESEL,1ST OWNER,"28,51,000",Lucknow
2,Maruti,2015,"[Suzuki, Wagon, R, 1.0]",VXI,Manual,"37,835 KM",PETROL,2ND OWNER,"3,55,000",Lucknow
3,TATA,2022,[TIGOR],XZ CNG 1.2 RTN,,0 KM,CNG,1ST OWNER,"7,60,699",Lucknow
4,Hyundai,2017,[Eon],ERA PLUS (O),Manual,"29,588 KM",PETROL,1ST OWNER,"2,97,000",Lucknow
...,...,...,...,...,...,...,...,...,...,...
118,Maruti,2020,"[Suzuki, New, Wagon-R]",LXI CNG 1.0 L,Manual,"90,368 KM",CNG,1ST OWNER,"5,56,000",Lucknow
119,HYUNDAI,2021,[VENUE],1.0L Turbo GDI SX MT,Manual,"28,518 KM",PETROL,1ST OWNER,"9,03,000",Lucknow
120,MARUTI,2020,"[SUZUKI, S, PRESSO]",VXI,Manual,"29,991 KM",PETROL,1ST OWNER,"3,90,000",Lucknow
121,HYUNDAI,2021,[AURA],S CNG,Manual,"42,399 KM",CNG,1ST OWNER,"7,95,000",Lucknow
122,DATSUN,2021,"[REDI, GO]",T,Manual,"1,415 KM",PETROL,2ND OWNER,"4,39,000",Lucknow

# NEXT DATA

In [76]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [77]:
car_data13=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [78]:
car_data13['Location']='Jaipur'

In [79]:
car_data13.to_csv('car_data13')

In [80]:
car_data13

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,MARUTI,2013,"[SUZUKI, SWIFT]",LXI,Manual,"97,794 KM",PETROL,2ND OWNER,"3,36,000",Jaipur
1,MAHINDRA,2019,[BOLERO],Power+ SLX,Manual,"70,267 KM",DIESEL,1ST OWNER,"8,41,000",Jaipur
2,Maruti,2018,"[Suzuki, Swift]",VXI AMT,Automatic,"36,155 KM",PETROL,1ST OWNER,"5,79,600",Jaipur
3,MARUTI,2019,"[SUZUKI, XL6]",ALPHA SHVS MT,Manual,"82,037 KM",PETROL,1ST OWNER,"9,24,000",Jaipur
4,Maruti,2019,"[Suzuki, EECO]",5 STR WITH AC PLUSHTR,Manual,"13,003 KM",PETROL,1ST OWNER,"4,62,000",Jaipur
...,...,...,...,...,...,...,...,...,...,...
126,Maruti,2020,"[Suzuki, Eeco]",5 STR WITH AC PLUSHTR,Manual,"29,553 KM",PETROL,1ST OWNER,"4,78,000",Jaipur
127,Maruti,2022,"[Suzuki, Celerio]",ZXI,Manual,"7,910 KM",PETROL,1ST OWNER,"5,68,000",Jaipur
128,Tata,2019,"[TIAGO, NRG]",PETROL,Manual,"35,787 KM",PETROL,1ST OWNER,"4,85,000",Jaipur
129,MARUTI,2019,"[SUZUKI, ALTO]",LXI,Manual,"37,369 KM",PETROL,1ST OWNER,"3,27,000",Jaipur
130,Maruti,2015,"[Suzuki, Ciaz]",ZXI,Manual,"24,565 KM",PETROL,1ST OWNER,"6,33,000",Jaipur

# NEXT DATA

In [4]:
url="https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001"

In [5]:
driver.get(url)

In [65]:
# scraping  Flight Name
# Scraping details of product for which you want
Brand=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('Nan')


# scraping  Flight Name
Year_Model=[]
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Year_Model.append(i.text.split(' ')[0])
except NoSuchElementException:
    Year_Model.append('Nan')

Car_Name=[]
# scraping  Flight Name
try:
    name = driver.find_elements(By.XPATH,"//h2[@class='_2lmIw']")
    for i in name:
        Car_Name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    Car_Name.append('Nan')

Model=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[1]")
    for i in name:
        Model.append(i.text)
except NoSuchElementException:
    Model.append('Nan')
    
# scraping  Flight Name
Variant=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_1hOnS']//li[3]")
    for i in name:
        Variant.append(i.text)
except NoSuchElementException:
    Variant.append('Nan')
    

# scraping  Flight Name
driven_kilometer=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[1]")
    for i in name:
        driven_kilometer.append(i.text)
except NoSuchElementException:
    driven_kilometer.append('Nan')
    
# scraping  Flight Name
fuel=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[3]")
    for i in name:
        fuel.append(i.text)
except NoSuchElementException:
    fuel.append('Nan')
    
    
# scraping  Flight Name
number_of_owners=[]
try:
    name = driver.find_elements(By.XPATH,"//ul[@class='_13yb6']//li[2]")
    for i in name:
         number_of_owners.append(i.text)
except NoSuchElementException:
     number_of_owners.append('Nan')
        
    

# scraping  Flight Name
Price=[]
    
try:
    name = driver.find_elements(By.XPATH,"//div[@class='_18ToE']/span")
    for i in name:
         Price.append(i.text.replace('â‚¹','')) 
except NoSuchElementException:
    Price.append('Nan')

In [70]:
car_data14=pd.DataFrame({"Brand":Brand,"Year_Model":Year_Model,"Car_Name":Car_Name,"Model":Model,"Variant":Variant,"driven_kilometer":driven_kilometer,"fuel":fuel,"number_of_owners":number_of_owners,"Price":Price})

In [71]:
car_data14['Location']='Kolkata'

In [72]:
car_data14.to_csv('car_data14')

In [73]:
car_data14

,Brand,Year_Model,Car_Name,Model,Variant,driven_kilometer,fuel,number_of_owners,Price,Location
0,Toyota,2011,[Etios],V,Manual,"47,612 KM",PETROL,1ST OWNER,"2,71,000",Kolkata
1,Maruti,2015,"[Suzuki, Alto, 800]",LXI,Manual,"5,650 KM",PETROL,1ST OWNER,"2,48,000",Kolkata
2,HONDA,2015,[CITY],1.5L I-VTEC V MT,Manual,"58,257 KM",PETROL,2ND OWNER,"4,66,000",Kolkata
3,HYUNDAI,2010,[I10],MAGNA 1.2,Manual,"76,641 KM",PETROL,2ND OWNER,"1,79,000",Kolkata
4,Hyundai,2011,[i10],ERA 1.1,Manual,"44,485 KM",PETROL,2ND OWNER,"1,87,000",Kolkata
...,...,...,...,...,...,...,...,...,...,...
214,Maruti,2014,"[Suzuki, Alto, 800]",VXI,Manual,"93,199 KM",PETROL,1ST OWNER,"2,15,000",Kolkata
215,MARUTI,2018,"[SUZUKI, SWIFT]",VXI,Manual,"11,060 KM",PETROL,1ST OWNER,"5,85,000",Kolkata
216,Hyundai,2018,"[Elite, i20]",MAGNA EXECUTIVE 1.2,Manual,"40,897 KM",PETROL,1ST OWNER,"5,61,000",Kolkata
217,Maruti,2020,"[Suzuki, DZIRE]",VXI,Manual,"8,246 KM",PETROL,1ST OWNER,"6,77,000",Kolkata
218,Hyundai,2015,"[i20, Active]",1.2 SX,Manual,"72,727 KM",PETROL,1ST OWNER,"4,83,000",Kolkata